<%- contentFor('body') %>

<div class="container">
	<h1 class="center" id="titulo"> Bem vindo ao Mallet Golf! Escolha sua opção: </h1>
	
	<div class="telaInicial">
		<div class="left">
			<img style="margin: auto;" src="/images/tacada.jpg">
		</div>
		<div class="right">
			<h3 class="center"> <a href="/campos/"> Jogar </a> </h3>
			<p> Escolha um campo e marque seu resultado no cartão </p>
		</div>
	</div>
	<div class="telaInicial">
		<div class="left">
			<img style="margin: auto;" src="/images/campo.jpg">
		</div>
		<div class="right">
			<h3 class="center"> <a href="/campos/cadastro"> Campos </a> </h3>
			<p> Cadastre seu campo em nossa base de dados </p>
		</div>
	</div>
</div>